
# IntelliJ
.idea
**/*.iml
**/*.ipr
**/*.iws

# VS Code
/.vscode/

# Intermediate and output files
.gradle
gradle
target
build
out

# Misc files
**/*.log
**/scratchpad.txt
**/scrapyard

# MacOS
.DS_Store
